.cell {
  display: inline-block;
  background: white;
  box-sizing: border-box;
}

#container {
  width: 700px;
  height: 700px;
  border: 2px solid burlywood;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

#header {
  align-self: center;
  display: inline-block;
  text-align: center;
}
#myBtn {
  align-self: center;
}
.my-colour-class {
  background-color: black;
}

#asdf {
  display: flex;
  gap: 8em;
}
