.cell {
  display: inline-block;
  background: white;
  box-sizing: border-box;
}

#container {
  width: 2500px;
  height: 2500px;
  border: 2px solid burlywood;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-colour-class {
  background-color: blue;
}
